/* styles/globals.css  – styles applicables à tout le site */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Playfair Display', serif;
}
